@charset "UTF-8";
/*!
 * Sidebar skeleton
 * Copyright Zdeněk Papučík
 * MIT License
*/

// bootstrap
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// sidebar skeleton
@import 'utils/functions';
@import 'utils/variables';

@import 'base/body';
@import 'layout/wrapper';
@import 'components/sidebar';

@import 'themes/colors';
@import 'themes/theme';
