//
// sidebar component
//

@use "../utils/index" as utils;
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.sidebar {
  margin-left: -(utils.$sm-width);
  transition: margin 0.15s ease-out;
  @include media-breakpoint-up('md') {
    margin-left: 0;
  }

  &-toggle {
    margin-left: 0;
  }

  &-toggle-visible {
    margin-left: 0;
    @include media-breakpoint-up('md') {
      margin-left: -(utils.$sm-width);
    }
  }

  &-rounded-top-right {
    @include border-top-end-radius($border-radius);
  }
}

.sidebar-menu {
  width: utils.$sm-width;

  &-fixed {
    position: fixed;
  }
}
