/// convert px to rem
/// {number} $pixels unit in pixels
/// {number} $context default browser size

@use "sass:math";
@function rem($pixels, $context: $browser-context) {
  @return math.div($pixels, $context) + rem;
}
