//
// wrapper for content layout
//

@use "../utils" as utils;

.wrapper {
  min-height: 100vh;

  &-navbar-used {
    min-height: calc(100vh - #{utils.$sm-top});
  }

  &-navbar-fixed {
    margin-top: utils.$sm-top;
  }
}
