//
// sidebar menu component
//

.sidebar {
  min-height: calc(100vh - #{$sm-top});
  margin-left: - $sm-sidebar;
  transition: margin 0.15s ease-out;
  @include border-top-right-radius($border-radius);
  @include media-breakpoint-up('md') {
    margin-left: 0;
  }

  &--toggle {
    margin-left: 0;
    @include media-breakpoint-up('md') {
      margin-left: - $sm-sidebar;
    }
  }
}

.sidebar__menu {
  width: $sm-sidebar;

  &--fixed {
    position: fixed;
  }
}
